html {
}

body {
	background-repeat: repeat;
	padding-top: 20px;
	padding-bottom: 110px;
	margin: 0px;
}

#header {
	font-size: 14pt;
	font-weight: bold;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

#logo {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#logoprojectdanube {
	position: fixed;
	right: 100px;
	bottom: 20px;
}

#appname {
	font-size: 20pt;
	font-weight: bold;
	padding-right: 20px;
}

#main {
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

#tech {
	border: 4px solid gray;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 10px;
}

#footer {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 15px 10px 0px 15px;
	background-color: #777;
	color: black;
	border-top: 4px solid black;
}

#footer * {
	font-size: 14pt;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #540dd8;
	border-bottom: 3px solid #540dd8;
}

hr {
	color: gray;
	background-color: gray;
	height: 3px;
}

textarea {
	background-color: white;
}

textarea.input {
	border: 3px solid black;
	padding: 5px;
	overflow: auto;
}

textarea.xdi {
	border: 3px solid black;
	width: 100%;
	font-size: 12pt;
}

input.examplera {
	width: 200px;
	height: 80px;
	margin: 20px;
	font-family: Courier New, Courier, monospace;
	font-size: 14pt;
	font-weight: bold;
}

input.xdiconnect {
	background-image: url(/images/logo-connect.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 170px;
	height: 86px;
}

input {
	padding: 5px;
}

img.app {
	margin-right: 10px;
}

img.splash {
	width: 300px;
}

a.graphit {
	display: block;
	float: right;
	margin: 15px;
}

form.convertit {
	display: block;
	float: right;
	margin: 15px;
}

li.linkcontract {
	font-family: Courier New, Courier, monospace;
	font-size: 12pt;
}

select {
	padding: 5px;
}

.code {
	font-family: Courier New, Courier, monospace;
	background-color: white;
}

.result {
	background-color: #deccff;
	padding-left: 20px;
	border: 3px dashed black;
}

.small {
	font-size: 12pt;
}

.no-margin {
	margin: 0px;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.wordwrap {
word-wrap:break-word;
}

.bg-gray {
  background-color: #eee;
}

.with-border {
    border: 2px solid black;
}
